@font-face {
    font-family: '9852';
    src:  url(fonts/9852.otf) format('otf');
  }

section {
    transition: all .5s ease-in-out;
}

button:focus {
    outline: none !important;
    box-shadow: none !important;
}

.main {
    display: block;
    font-family: "9852";
    width: 760px;
    margin: auto;
    background: #01021b;
    padding: 20px;
    color: #00c13d;
    font-size: 20px;
    height: 600px;
    overflow: hidden;
}

.state {
    display: none;
}

/* INTRO SECTION */
.intro {
    position: relative;
    height: 100%;
    display: none;
}

.intro-sub {
    position: absolute;
    top: 110%;
    animation: moveIntro 15s linear 0s 1 normal forwards;
}

.intro-title {
    width: 100%;
    text-align: center;
    font-size: 25px;
    text-align: center;
}

.intro-title h1 {
    animation: introTitle 8s linear 0s 1 normal forwards;
    font-size: 65px;
}

.intro-title h2 {
    animation: introTitle 10s linear 0s 1 normal forwards;
    font-size: 65px;
}

.introBtn {
    color: #00c13d;
    opacity: 0;
    background: #01021b;
    border: 1px dashed #00c13d;
    animation: showIntroBtn 2s linear 15s 1 normal forwards;
    transition: all 1.5s ease;
}
.introBtn:hover, .introBtn:focus {
    color: #00c13d !important;
    background: #01021b !important;
    border: 1px solid #00c13d !important;
    box-shadow: none !important;
}


@keyframes introTitle{
    from {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes moveIntro {
    from { top: 110%}
    to { top: 10%}
}

@keyframes showIntroBtn {
    from { opacity: 0;}
    to { opacity: 1;}
}


/* Day1 */

.terminal {
    background: #00ac27;
    color: black;
    padding: 20px;
}

.choose {
    margin-top: 25px;
}
.choose li {
    list-style: none;
}
.choose button:hover {
    background: #00ac27;
    color: #01021b;
}
.chooseClearSignalUl {
    display: none;
}